mixin _single(title, image)
    li.single(style=`background-image:url(${image})`)
        .single__content
            .single__from
                .single__date 09.02.2018
                .single__by by
                .single__autor betta
            h3.single__title= title
            .single__button
                +_button('read more', 'button_gonka')

mixin singleBig(title, image)
    li.single-big
        .single-big__content-image
            a(href="#")
                img.single-big__image(src=image, alt=title)
            .single-big__tags
                +_button( 'GYM', 'button_gonka button_gonka_tag')
                +_button( 'GYM', 'button_gonka button_gonka_tag')
                +_button( 'GYM', 'button_gonka button_gonka_tag')
        .single-big__content
            a(href="#")
                h3.single-big__title= title
            .single-big__from
                .single-big__date 09.02.2018
                .single-big__by by
                .single-big__autor betta
            p.single-big__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat fugit incidunt molestias quaerat quam rem totam unde veniam! Eos, laboriosam, provident. Adipisci aspernatur dicta ex non odio qui repellendus reprehenderit.
            .single-big__button
                +_button('read more', 'button_gonka')


mixin _single-list()
    ul.single-list
        +_single('Новость 1', 'http://lorempixel.com/800/400')
        +_single('Новость 2', 'http://lorempixel.com/800/400')
        +_single('Новость 3', 'http://lorempixel.com/800/400')

mixin singleBigList()
    ul.single-big-list
        +singleBig('Новость 1', 'http://lorempixel.com/800/400')
        +singleBig('Новость 2', 'http://lorempixel.com/800/400')
        +singleBig('Новость 3', 'http://lorempixel.com/800/400')

mixin widjet(title, isTags)
    .widjet
        h3.widjet__title= title
        - if (isTags === 1)
            +widjetTags()
        - else if (isTags === 0)
            +widjetResentPosts()
        - else if (isTags === 2)
            +_socials('socials_widjet')




mixin widjetTags()
    .widjet-tags
        a.widjet-tags__item(href="#") Tag1
        a.widjet-tags__item(href="#") Tag2
        a.widjet-tags__item(href="#") Tag3
        a.widjet-tags__item(href="#") Tag4
        a.widjet-tags__item(href="#") Tag5

mixin widjetResentPosts()
    ul.widjet-recent-posts
        li.widjet-recent-posts__item
            p.widjet-recent-posts__item-date 20.10.2019
            a(href="#") Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur
        li.widjet-recent-posts__item
            p.widjet-recent-posts__item-date 20.10.2019
            a(href="#") Lorem ipsum dolor sit amet, consectetur amet, consectetur.
        li.widjet-recent-posts__item
            p.widjet-recent-posts__item-date 20.10.2019
            a(href="#") Lorem ipsum dolor sit amet, consectetur.
        li.widjet-recent-posts__item
            p.widjet-recent-posts__item-date 20.10.2019
            a(href="#") Lorem ipsum dolor sit amet, consectetur dolor sit amet, consectetur.
        li.widjet-recent-posts__item
            p.widjet-recent-posts__item-date 20.10.2019
            a(href="#") Lorem ipsum dolor sit amet, consectetur.
