mixin accordion-mixed()
    .accordion-mixed
        div(class="accordion-mixed__tab accordion-mixed__tab--active", data-mixed-tab="1") РЕГЛАМЕНТ
        div(class="accordion-mixed__content accordion-mixed__content--active", data-mixed-conent="1")
            .accordion-mixed__content-inner
                .house-description
                    .house-description__header
                        img.house-description__image(src='http://cn12.nevsedoma.com.ua/photo/18/4/s_t05_RT.jpg', alt="picture")
                        +content(false, 'Seo Text')
        div(class="accordion-mixed__tab", data-mixed-tab="2") ФОТО
        div(class="accordion-mixed__content", data-mixed-conent="2")
            .swiper-container.accordion-mixed__content-inner.house-media-library__container
                .swiper-wrapper.house-media-library
                    .swiper-slide.house-media-library__item
                        a.house-media-library__media-wrapper(rel='group', href='https://sfw.so/uploads/posts/2017-10/1508479989_57aaf067dfd3c994955926.jpg')
                            img.house-media-library__media(src='https://sfw.so/uploads/posts/2017-10/1508479989_57aaf067dfd3c994955926.jpg', alt="picture")
                    .swiper-slide.house-media-library__item
                        a.house-media-library__media-wrapper(rel='group', href='https://www.youngisthan.in/hindi/wp-content/uploads/2015/03/successful1.jpg')
                            img.house-media-library__media(src='https://www.youngisthan.in/hindi/wp-content/uploads/2015/03/successful1.jpg', alt="picture")
                    .swiper-slide.house-media-library__item
                        a.house-media-library__media-wrapper(rel='group', href='https://uk.toluna.com/dpolls_images/2018/03/20/34f2184a-d759-4fb0-aae8-966bbfb97c74.jpg')
                            img.house-media-library__media(src='https://uk.toluna.com/dpolls_images/2018/03/20/34f2184a-d759-4fb0-aae8-966bbfb97c74.jpg', alt="picture")
                    .swiper-slide.house-media-library__item
                        a.house-media-library__media-wrapper(rel='group', href='https://onemanshow.com.cy/wp-content/uploads/2017/09/alexander-redl-185764-1000x600.jpg')
                            img.house-media-library__media(src='https://onemanshow.com.cy/wp-content/uploads/2017/09/alexander-redl-185764-1000x600.jpg', alt="picture")
                    .swiper-slide.house-media-library__item
                        a.house-media-library__media-wrapper(rel='group', href='https://runners.igte.ch/wp-content/uploads/2015/02/Untitled-199.jpg')
                            img.house-media-library__media(src='https://runners.igte.ch/wp-content/uploads/2015/02/Untitled-199.jpg', alt="picture")
                    .swiper-slide.house-media-library__item
                        a.house-media-library__media-wrapper(rel='group', href='https://sfw.so/uploads/posts/2017-10/1508479989_57aaf067dfd3c994955926.jpg')
                            img.house-media-library__media(src='https://sfw.so/uploads/posts/2017-10/1508479989_57aaf067dfd3c994955926.jpg', alt="picture")
                    .swiper-slide.house-media-library__item
                        a.house-media-library__media-wrapper(rel='group', href='https://www.youngisthan.in/hindi/wp-content/uploads/2015/03/successful1.jpg')
                            img.house-media-library__media(src='https://www.youngisthan.in/hindi/wp-content/uploads/2015/03/successful1.jpg', alt="picture")
                    .swiper-slide.house-media-library__item
                        a.house-media-library__media-wrapper(rel='group', href='https://uk.toluna.com/dpolls_images/2018/03/20/34f2184a-d759-4fb0-aae8-966bbfb97c74.jpg')
                            img.house-media-library__media(src='https://uk.toluna.com/dpolls_images/2018/03/20/34f2184a-d759-4fb0-aae8-966bbfb97c74.jpg', alt="picture")
                    .swiper-slide.house-media-library__item
                        a.house-media-library__media-wrapper(rel='group', href='https://onemanshow.com.cy/wp-content/uploads/2017/09/alexander-redl-185764-1000x600.jpg')
                            img.house-media-library__media(src='https://onemanshow.com.cy/wp-content/uploads/2017/09/alexander-redl-185764-1000x600.jpg', alt="picture")
                    .swiper-slide.house-media-library__item
                        a.house-media-library__media-wrapper(rel='group', href='https://runners.igte.ch/wp-content/uploads/2015/02/Untitled-199.jpg')
                            img.house-media-library__media(src='https://runners.igte.ch/wp-content/uploads/2015/02/Untitled-199.jpg', alt="picture")
                .house-media-library__container
                    .b-container.house-media-library__container-wrapper
                        .swiper-button-next.house-media-library__button-next
                        .swiper-button-prev.house-media-library__button-prev
        div(class="accordion-mixed__tab", data-mixed-tab="3") КАРТА
        div(class="accordion-mixed__content", data-mixed-conent="3")
            div(id="map1", class="map-zoom")
                img.map-zoom__image(
                src="https://wallpapercave.com/wp/brvwNP1.jpg",
                alt="map",
                data-big="https://wallpapercave.com/wp/brvwNP1.jpg")
                p.map-zoom__title Кликни
        div(class="accordion-mixed__tab", data-mixed-tab="4") ВИДЕО
        div(class="accordion-mixed__content", data-mixed-conent="4")
            .video_wrapper
                iframe( src="https://www.youtube.com/embed/QLbFX6WtIqw" frameborder="0" allow="encrypted-media" allowfullscreen)
        div(class="accordion-mixed__tab", data-mixed-tab="5") СХЕМА ПРОЕЗДА
        div(class="accordion-mixed__content", data-mixed-conent="5")
            div(id="map2", class="map-zoom")
                img.map-zoom__image(
                src="https://wallpapercave.com/wp/brvwNP1.jpg",
                alt="map",
                data-big="https://wallpapercave.com/wp/brvwNP1.jpg")
                p.map-zoom__title Кликни
        div(class="accordion-mixed__tab", data-mixed-tab="6") РЕЗУЛЬТАТЫ
        div(class="accordion-mixed__content", data-mixed-conent="6")
            .accordion-mixed__content-inner
                +_table('table_full-width')
        footer.house-booking
            a.house-booking__button( href="#", targe="_blank") Зарегистрироваться
            p.house-booking__info
                span.house-booking__price-per-men 25